.color-white {
    background-color: #fafafa;
}
.color-red {
    background-color: #ff8c82;
}
.color-orange {
    background-color: #ffc27d;
}
.color-yellow {
    background-color: #ffe16b;
}
.color-green {
    background-color: #c6f96f;
}
.color-blue {
    background-color: #8cd5ff;
}
.color-violet {
    background-color: #aca9fd;
}
