.color-white {
    background-color: #fafafa;
}
.color-red {
    background-color: #ff4757;
}
.color-orange {
    background-color: #ff6348;
}
.color-yellow {
    background-color: #ffcc33;
}
.color-green {
    background-color: #2ed573;
}
.color-blue {
    background-color: #1e90ff;
}
.color-violet {
    background-color: #5352ed;
}
