.color-white {
    background-color: #fafafa;
}
.color-red {
    background-color: #ff5656;
}
.color-orange {
    background-color: #fa983a;
}
.color-yellow {
    background-color: #f6d95b;
}
.color-green {
    background-color: #78e08f;
}
.color-blue {
    background-color: #82ccdd;
}
.color-violet {
    background-color: #8498e6;
}
